#contactbox li{
	overflow: hidden;
	padding: 0.8em;
	font-size: 0.8em;
	font-weight: normal;
	border-bottom: 1px solid #cacaca;
	border-top: 1px solid #fff;
}

#contactbox .avatar{
	background: url('contact.png') no-repeat;
	width: 62px;
	height: 62px;
	float:left;
	margin-right: 0.8em;
}

#contactbox .info .username{
	height: 34px;
	line-height: 36px;
	overflow: hidden;
}

#contactbox .info .mobile{
	height: 26px;
	font-size: 0.9em;
	color: #9f9f9f;
}